:root {
    --card-padding: 10px;
    --card-color: blue;
    --card-background: lightgreen;
    font-size: 20px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5em;
    justify-content: center;
    text-align: center;
    color: green;
}

h2 {
    margin: 20px;
    font-size: 3em;
    margin: 2px 20px 2px 20px;
    display: block;
    justify-content: center;
    text-align: center;
}

#addBtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

#addBtn {
    background-color: #4CAF50; /* Green */
    color: white;
    transition-duration: 0.4s;
    font-size: 24px;
    padding: 32px 16px;
    display: block;
    margin: 20px;
}

/* #coinInput {
    margin: 2px 20px 2px 20px;
    width: 50%;
    padding: 12px 20px;
    display: center;
    box-sizing: border-box;
} */

#coinInput {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}
  
#coinInput:focus {
    width: 100%;
}

.coinCard {
    display: inline-block;
    min-width: 200px;
    padding: var(--card-padding);
    color: var(--card-color);
    background-color: var(--card-background);
    margin: 10px;
}

.socialLogo {
    width: 40px;
}

h3 {
    text-align: center;
    font-size: 2.5em;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
